{% extends 'base.html' %}

{% block content %}
{% if is_finished_process %}
    <p>question is marked as solved</p>
{% endif %}
<div class="container">
    <h1>Solved Question Form</h1>
    <form action="{% url 'solveProblem' %}" method="post">
        {% csrf_token %}
    <div class="form-group">
        Team Name {{ form.team }}
    </div>
    <div class="form-group">
        Question Name {{ form.question }}
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
    </form>
</div>
{% endblock content %}